.account-title{
    font-size: 28px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px;
}
.account-title > span{
    font-weight: 500;
}
.account-title + p{
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.account-title + p > img{
    margin-left: 10px;
}
.personal-discount_title{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.personal-discount_percent{
    font-size: 40px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--blue);
    font-weight: 500;
}
.personal-discount_p{
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 25px;
}
.referal{
    display: flex;
    gap: 5px;
}
.referal input{
    pointer-events: none;
}
.ref-copylink{
    padding: 14.4px 17px;
    background-color: var(--blue);
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}
.ref-copylink:hover{
    background-color: var(--black);
}
.ref-copylink img{
    height: 15px;
}
.order-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 310px;
}
@media screen and (max-device-width: 1080px) {
    .account-title + p > img{
        display: none;
    }
}
