:root{
    --blue: #5888ea;
    --black: #35302f;
    --grey-white: #e6ebf1;
    --grey-dark: #9b9b9b;
    --green: #169600;
    --red: #ad0000;
}

* {
    font-family: Montserrat;
    padding: 0;
    margin: 0;
}
html {
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 210px;
    color: var(--black);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
button{
    outline: none;
    border: none;
}
.HOVER {
    cursor: pointer;
    --width: 100%;
    --time: 0.7s;
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 1em;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff !important;
    background: #5888ea;
    overflow: hidden;
}

.HOVER text {
    position: relative;
    z-index: 5;
    transition: color var(--time);
}

.HOVER:hover text {
    color: #fff;
}

.HOVER span {
    position: absolute;
    display: block;
    content: "";
    z-index: 0;
    width: 0;
    height: 0;
    top: 50px;
    left: 3px;
    border-radius: 100%;
    background: #35302f;

    transform: translate(-50%, -50%);
    transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
    width: calc(var(--width) * 2.25);
    padding-top: calc(var(--width) * 2.25);
}

.header__top{
    padding-top: 14px;
    padding-bottom: 15px;
    background-color: var(--blue);
    color: #fff;
}
.header__top_block{
    display: flex;
    justify-content: space-between;
}
.header__top-info_block{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.header__top-info_item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.header__top-info_item img{
    margin-top: 5px;
}
.header__top-info_item:nth-child(1) img{
    margin-left: 2px;
}
.header__top-info_item p{
    text-align: right;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.7em;
    color: #fff;
}
.header__top-contact_block,
.header__bottom-contact_block{
    display: flex;
    flex-direction: column;
}
.header__top-contact_block {
    align-items: flex-start;
}
.header__bottom-contact_block {
    align-items: flex-end;
}
.header__top-contact_block
.number,
.header__top-contact_block
.social-seti_block a img{
    margin-left: 0px;
}

.header__top-contact_block
.social-seti_block,
.header__bottom-contact_block
.social-seti_block
{
    gap: 20px;
    margin-top: 15px;
}
.header__top-contact_block
.number,
.header__top-contact_block
.social-link-email{
    color: #fff;
}
.header__top-contact_block
.social-link-email:hover{
    color: var(--black);
}
header{
    position: sticky;
    background-color: #FFFFFF;
    top: -1px;
    z-index: 9999;
    border-bottom: 1px solid var(--grey-white);
}
.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
}

.header-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}
.header-links li:last-child{
    display: none;
}
.brand-logoMobile{
    display: none;
}
.header-link {
    color: var(--black);
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    transition: 0.1s;
}
.header-link_functional svg{
    margin-top: 10px;
    transition: .3s;
}
.header-link_functional svg:hover{
    fill: var(--blue);
}
.auth-links{
    display: none;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.functional-links li:nth-child(1):hover >
.auth-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    right: calc(50% - 555px);
    list-style: none;
    background-color: var(--black);
    border-radius: 10px;
    animation: fadeIn .3s;
}
.functional-links{
    display: flex;
    gap: 20px;
}
.functional-links li,
.auth-links li{
    display: inherit !important;
}
.auth-link{
    padding: 15px 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: var(--black);
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05em;
    transition: .2s;
}
.auth-link:hover{
    background-color: var(--blue);
}
.active_nav-link {
    color: var(--blue);
    transition: 0.075s;
}

.header-link:hover {
    color: var(--blue);
    transition: 0.11s;
}
.menu-burger__header {
    display: none;
}

footer {
    height: 210px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-logo {
    width: 170px;
    height: 70px;
}
.footer-top {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top-line {
    border-bottom: 1px solid #e6ebf1;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 33%;
}
.footer-bottom {
    height: 40px;
    width: 100%;
}
.footer-bottom p {
    font-size: 10px;
    line-height: 170%;
    color: #35302f;
}
.footer-link {
    font-size: 10px;
    line-height: 170%;
    text-decoration: none;
    color: #35302f;
}
.footer-link:hover {
    font-size: 10px;
    line-height: 170%;
    text-decoration: none;
    color: #5888ea;
}
.social{
    display: flex;
    flex-direction: column;
}
.social-seti_block{
    display: flex;
}
.social-seti_block a img{
    width: 22px;
    margin-left: 20px;
    border-radius: 5px;
}
.social-seti_block a{
    transition: .3s;
}
.social-seti_block a:hover{
    opacity: 0.7;
}
.ps-desk{
    display: flex;
}
.ps-mob{
    display: none;
}
.telephone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.telephone p {
    display: none;
}
.mobile-telephone {
    display: none !important;
}
.mobile-telephone {
    display: none !important;
}
.copyright {
    margin-right: 60px;
}
.social-link-email {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    text-decoration: none;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--black);
    transition: .3s;
    margin-bottom: 15px;
}
.social-link-email:hover{
    color: var(--blue);
}
.number{
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 27px;
    white-space: nowrap;
    color: #35302f;
    text-decoration: none;
}
.desktop-telephone a{
    margin-left: 0px;
}
.carousel-block{
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    pointer-events: none;
}
.carousel-block::-webkit-scrollbar {
    height: 0;
}
.carousel-paginator_block{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}
.carousel-paginator{
    display: flex;
    justify-content: center;
    align-content: center;
    background: var(--blue);
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: relative;
    bottom: 0;
    transition: .3s;
    pointer-events: auto;
}
.carousel-paginator:hover{
    background: var(--black);
}
.carousel-paginator_prev{
    visibility: hidden;
}
.carousel-paginator svg{
    fill: #FFFFFF;
}
@media screen and (max-device-width: 1080px) {
    .container {
        max-width: 320px;
    }
    .header__top{
        display: none;
    }
    header__bottom {
        height: 77px;
    }
    .brand-logo{
        display: none;
    }
    .brand-logoMobile{
        display: block;
    }

    .header-links li:last-child {
        display: inherit;
        margin-bottom: 5vh;
    }
    .header__nav {
        display: block;
        position: absolute;
        left: 0;
        top: 0px;
        width: 100%;
        height: 100vh;
        transition: all 0.4s ease;
        left: -100%;
        background-color: #fff;
        z-index: 9997;
    }
    .header__menu {
        display: block;
    }
    .header-links {
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        max-width: 320px;
        margin: 0 auto;
        gap: 50px;
    }
    .header__nav.open-menu {
        left: 0;
    }
    .header__menu li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
    }
    .menu-burger__header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
        margin-left: 10px;
        z-index: 9998;
    }
    .menu-burger__header span,
    .menu-burger__header:after,
    .menu-burger__header:before {
        height: 2px;
        width: 100%;
        position: absolute;
        background: #000;
        margin: 0 auto;
    }
    .menu-burger__header span {
        top: 16px;
    }
    .menu-burger__header:after,
    .menu-burger__header:before {
        content: '';
    }
    .menu-burger__header:after {
        bottom: 5px;
    }
    .menu-burger__header:before {
        top: 5px;
    }
    .menu-burger__header.open-menu span {
        opacity: 0;
        transition: 0.5s;
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }

    .number{
        margin-left: 0px;
    }

    .footer{
        margin-bottom: 20vh;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        align-items: center;
        height: 145px;
    }
    .footer-brand img {
        width: 120px;
        height: 49px;
        margin-top: 50px;
    }
    .desktop-telephone {
        display: none;
    }
    .mobile-telephone {
        display: flex !important;
        margin-top: 14px;
        margin-left: 11px;
    }
    .social {
        margin-top: 14px;
    }
    .social-seti{
        display: flex;
        margin-right: 22px;
        margin-top: 20px;
    }

    .social-seti_block{
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .social-seti_block a img {
        margin-left: 0px;
    }
    .social-link-email{
        margin-right: 0px;
        text-align: center;
    }
    .footer-bottom {
        flex-direction: column;
        align-items: center;

        margin-top: 33px;
    }
    .footer-bottom p {
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .copyright {
        margin-right: 0px;
    }
    .ps-desk{
        display: none;
    }
    .ps-mob{
        display: flex;
    }

    .footer-bottom a {
        margin-bottom: 10px;
    }
}
